<div>
    <h1>Productos</h1>
        {{#each products}}
        <div>
            <h3>{{title}}</h3>
            <p>
            {{description}} <br>
            precio ${{price}}
            </p>
        </div>
        {{/each}}
</div>